[tool.black]
line-length = 120
target-version = ['py39', 'py310', 'py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 120
skip = ["migrations", "venv", ".venv"]

[tool.pylint.messages_control]
disable = ["C0111", "C0103", "R0903", "R0913", "W0613"]

[tool.pylint.format]
max-line-length = 120

# Flake8 configuration
[tool.flake8]
max-line-length = 120
exclude = [
    ".git",
    "__pycache__",
    "venv",
    ".venv",
    "migrations",
    "build",
    "dist",
    "*.egg-info"
]
ignore = [
    "E501",  # line too long (handled by black)
    "W503",  # line break before binary operator
    "E203",  # whitespace before ':'
]

